#bar{
  border: 2px solid black;
  height: 18px;
  width: 60%;
  margin: auto;
}
.frn{
  background-color: green;
  height: 18px;
  width: 100%;
  text-align: center;
  color: black;
  margin: auto;
}
.eng{
  background-color: green;
  height: 18px;
  width: 75%;
  text-align: center;
  color: black;
}
.spn{
  background-color: green;
  height: 18px;
  width: 20%;
  text-align: center;
  color: black;
}
.ht{
  background-color: green;
  height: 18px;
  width: 50%;
  text-align: center;
  color: black
}
.cs{
  background-color: green;
  height: 18px;
  width: 45%;
  text-align: center;
  color: black;
}
.jv{
  background-color: green;
  height: 18px;
  width: 0%;
  text-align: center;
  color: black;
}
#conteneur{
  margin-bottom: 10px;
}
#sujet{
  font-size: 15px;
}
body{
  font-family: 'Source code pro', Calibri, serif;
}
nav > ul{
  margin: 0px;
  padding: 0px;
}
nav > ul > li{
  float: left;
  position: relative;
}
nav li{
  list-style-type: none;
}
.submenu{
  display: none;
}
nav{
  background-color: grey;
  padding-left: 25%;
  margin: auto;
}
nav > ul::after{
  content: "";
  display: block;
  clear: both;
}
nav a{
  display: block;
  text-decoration: none;
}
nav > ul > li > a{
  padding: 20px 30px;
  color: #FFF;
}
nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%
  left: 0px;
  padding: 0px;
  z-index: 100000;
}
.submenu li{
  border-bottom: 2px solid #CCC;
}
.submenu li a{
  padding: 20px 10px;
  font-size: 15px;
  color: grey;
  width: 270px;
}
.Apropos:hover{
  border-top: 5px solid #ffffff;
  background-color: grey;
}
.Monobjectifs:hover{
  border-top: 5px solid #ffffff;
  background-color: grey;
}
.XP:hover:hover{
  border-top: 5px solid #ffffff;
  background-color: grey;
}
.Diplome:hover{
  border-top: 5px solid #ffffff;
  background-color: grey;
}
nav > ul > li:hover a {
  padding: 15px 30px 20px 30px;
}
.Apropos .submenu{
  background-color: #ffffff
}
.Monobjectifs .submenu{
  background-color: #ffffff
}
.XP .submenu{
  background-color: #ffffff
}
.Diplome .submenu{
  background-color: #ffffff
}
#gris{
  background-color: #605d5c;
  height: 210px;
  width: 100%;
  border-radius: 10px 10px 5px 5px;
  text-align: center;
}
#gras{
  color:#ffffff;
}
h1{
  color: #ffffff;
  font-size: 30px;
  margin: auto;
  text-align: center;
  padding-left: 16px;
  font-family: 'Libre Baskerville', serif;
}
#metier{
  color: #ffffff;
  font-size: 18px;
  margin: auto;
  text-align: center;
  padding-left: 20px;
}
#t1{
 margin-right: 20%;
 margin-left: 20%;
 color: #ffffff;
 text-align: center;
}
#projet{
  color: #ffffff;
  font-size: 18px;
  text-align: left;
  padding-left: 10px;
}
#onglet-photo{
  background-color: #e98a2b;
  margin-top: 10px;
  height: 40px;
  width: 43%;
}
#XP{
  text-align: center;
  padding-top: 5px;
}
#Formation > h2{
  background-color: #e98a2b;
  margin-top: auto;
  height: 37px;
  width: 43%;
  float: right;
}
div > #FRM{
  text-align: center;
  padding-top: 5px;
}
.mail{
  height: 30px;
  padding-right: 3%;
}
.adresse{
  height: 30px;
  padding-right: 3%;
}
.cv{
  height: 30px;
  padding-right: 3%;
}
.link{
  height: 30px;
  padding-right: 3%;
}
.git{
  height: 30px;
  padding-right: 3%;
}
.tel{
  height: 30px;
  padding-right: 3%;
  margin-left: 10px;
}
.html{
  height: 35px;
  margin-left: 45%;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
}
.css{
  height: 32px;
  margin-left: 45%;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
}
.java{
  height: 30px;
  margin-left: 45%;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
}
.fr{
  height: 35px;
  margin-left: 45%;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
}
.en{
  height: 37px;
  margin-left: 45%;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
}
.esp{
  height: 25px;
  margin-left: 45%;
  margin-bottom: 10px;
  margin-top: 10px;
  display: block;
}
.zoom:hover{
  -webkit-transform: scale(1.2);
}
#box1{
  margin-right: 10px;
  height: 300px;
  width: 35%;
  background-color: grey;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
}
.box3{
  margin-top: 35px;
  height: auto;
  width: 100%;
  background-color: grey;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
}
.bbox{
  display: flex;
  flex-wrap: wrap;
}
#box2{
  margin-right: 10px;
  height: 300px;
  width: 35%;
  background-color: grey;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
}
#cmp{
  margin: auto;
  text-align: center;
  font-size: 90%;
  color: white;
  background-color: #8c2020;
  border-radius: 10px 10px 0px 0px;
}
#t2{
  width: 90%;
}
#exp{
  font-size: 110%;
  margin: auto;
  margin-left: 10px;
  text-align: left;
  color: #ffffff
}
#ODD{
  margin-top: 10px;
  font-size: 90%;
  margin-left: 10px;
}
#motv{
  font-size: 1.0em;
  text-align: left;
  padding-left: 5px;
  text-indent: 2px;
  text-align: center;
  padding-bottom: 10px;
  line-height: 23px;
}
#b4{
 height: 6px;
 background-color: #8c2020;
}
#tel{
  margin-top: 10px;
}
